<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <title>Category Page</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Category Details</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" ari<option selected>Select</option>a-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container category-form mt-4">
    <div class="form-title h4">Category Details</div>
    <form>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="isParent">
            <label class="form-check-label" for="isParent">Is this Parent Category?</label>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="category" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="category" placeholder="Category Name">
            </div>
            <div class="col-md-6" id="categorySelect">
                <label class="form-label">Parent Category</label>
                <select class="form-control">
                   <!--
                    <option>Fruits</option>
                    <option>Cloths</option>
                    <option>Cosmetics</option>-->
                </select>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="validation  btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
       // toastr.success('Welcome to this page');
        getAllCategory();


        $("#isParent").on("change", function () {
            if ($(this).is(":checked")) {
                $("#categorySelect").hide();
            } else {
                $("#categorySelect").show();
            }
        });

        $(".validation").click(function (event) {
            event.preventDefault();

            let validationOK = submitCategory();
            if (validationOK) {
              let requestBody=  {
                    "name": null,
                    "parentId": null
              }
                let isParent = $("#isParent").is(":checked");
                let category = $("#category").val();
                let categorySelected = $("#categorySelect select :selected").val();
                if (isParent) {
                    requestBody.isParent = null;
                    requestBody.name = category;
                } else {
                    requestBody.name = category;
                    requestBody.parentId=categorySelected;
                    //requestBody.parentId = null;
                }

                var settings = {
                    "url": "http://localhost:8088/AgroNeed/create",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "data": JSON.stringify(requestBody),
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    toastr.success(response.message)
                    location.reload();
                });

            };
        });
    });

    function submitCategory() {
        let isParent = $("#isParent").is(":checked");
        let category = $("#category").val();
        let categorySelected = $("#categorySelect select").val();

        if (category === undefined || category === '' || category.trim() === '') {
            toastr.error("Category Name is required.")
            return false;
        }
        if (!isParent) {
            if (!categorySelected || categorySelected === 'Select') {
                toastr.error(" Parent Category is required.");
                return false;
            }
        }

        return true;
    }
    function getAllCategory(){

        var settings = {
            "url": "http://localhost:8088/AgroNeed/getAll",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
            //toastr.success(response.message);
            console.log(response);
            $("#categorySelect select").append(`<option selected>Select</option>`)
            response.content.forEach(current=>{
                $("#categorySelect select").append(`
                    <option value="` + current.id + `">` + current.name + `</option>
                `);
            })

        });
    }

</script>

</body>
</html>
