<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<div layout:fragment="content">
    <div class="container category-form mt-4">
        <div class="form-title h4">Add Product</div>
        <form>
            <div class="row mb-3">
                <div class="col-md-6" id="categorySelect">
                    <label class="form-label">Category</label>
                    <select class="form-control">
                        <!--<option selected>Select</option>
                         <option>Fruits</option>
                         <option>Cloths</option>
                         <option>Cosmetics</option>-->
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="file" id="image">
                    <!-- -->
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" id="stock">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="submit  btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>

<script defer>
    $(document).ready(function () {
        //toastr.success('Welcome to this page');
        getAllCategory();

        $(".submit").click(function (event) {
            event.preventDefault();

            let validationOK = submitCategoryValidation();
            if (validationOK) {
                let categorySelected = $("#categorySelect select").val();
                let name = $("#name").val();
                let description = $("#description").val();
                let price = $("#price").val();
                let stock = $("#stock").val();

                const image = document.getElementById('image');
                const file = image.files[0];
                let requestData = `{
                    "selectedCategoryId": ` + categorySelected + `,
                    "name": "` + name + `",
                    "description": "` + description + `",
                    "price": ` + price + ` ,
                    "stock": ` + stock + `
                }`;

                var form = new FormData(); //application form data
                form.append("file", file);
                form.append("data", requestData);

                var settings = {
                    "url": STRINGS.API_BASE_URL+"/Products/create",
                    "method": "POST",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",// Tell the server we provide multipart request
                    "contentType": false,
                    // Expect JSON response
                    "dataType": "json",
                    "headers": {
                        "Accept": "application/json"  // Tell the server we expect JSON response
                    },
                    "data": form
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);

                    if (response.statusCode !== 201) {
                        showWarningToast(response.message)
                        return;
                    }
                    showSuccessToast(response.message);

                    setTimeout(function () {
                        window.location.reload();
                    }, 1500)

                    //location.reload();
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.error("AJAX Error:", textStatus, errorThrown);
                    console.error("Response Text:", jqXHR.responseText);

                    let errorMessage = "An error occurred. Please try again.";

                    // Try to parse the error message if the response contains JSON
                    if (jqXHR.responseJSON && jqXHR.responseJSON.message) {
                        errorMessage = jqXHR.responseJSON.message;
                    } else if (jqXHR.responseText) {
                        errorMessage = jqXHR.responseText;
                    }

                    showErrorToast(errorMessage);
                });
            }
        });
    });

    function submitCategoryValidation() {
        let categorySelected = $("#categorySelect select").val();
        let name = $("#name").val();
        let description = $("#description").val();
        let price = $("#price").val();
        let stock = $("#stock").val();


        if (!categorySelected || categorySelected === 'Select') {
            toastr.error("Categories is required.");
            return false;
        }

        const image = document.getElementById('image');
        const file = image.files[0];


        if (!file) {
            toastr.error("No file selected!");
            return;
        }
        const validTypes = ['image/jpeg', 'image/png', 'image/gif',"image/webp"];
        if (!validTypes.includes(file.type)) {
            toastr.error("Invalid file type! Please select an image file.");
            return false;
        }

        if (name === undefined || name === '' || name.trim() === '') {
            toastr.error("Name is required.")
            return false;
        }
        if (description === undefined || description === '' || description.trim() === '') {
            toastr.error("Description is required.")
            return false;
        }
        if (price === undefined || price === '' || price.trim() === '') {
            toastr.error("Price is required.")
            return false;
        }
        if (stock === undefined || stock === '' || stock.trim() === '') {
            toastr.error("Stock is required.")
            return false;
        }
        return true;
    }

    function getAllCategory() {

        Ajax.get("/Categories/getAll",null,null)
            .then(response=>{
                console.log(response);
                $("#categorySelect select").empty();
                $("#categorySelect select").append(`<option selected>Select</option>`)
                if ( response.content==null){

                }else{
                    response.content.forEach(current=>{
                        $("#categorySelect select").append(`
                    <option value="` + current.id + `">` + current.categoryName + `</option>
                `);
                    })
                }

            }).catch(error=>{
                console.log(error);
                showErrorToast("error:" +error);
        })

    }

</script>
