<th:block th:fragment="scripts">

<!--CUSTOM COMMON JS FILE-->
<script>
    window.STRINGS = {
        API_BASE_URL: "http://localhost:8082"
    };

    window.isEmpty = function (value) {
        if (value == null || value === '') return true;
        if (Array.isArray(value) && value.length === 0) return true;
        if (typeof value === 'object' && Object.keys(value).length === 0) return true;
        return false;
    }


    window.showWarningToast = function (message, title = '') {
        toastr.warning(message, title);
    }

    window.showSuccessToast = function (message, title = '') {
        toastr.success(message, title);
    }

    window.showErrorToast = function (message, title = '') {
        toastr.error(message, title);
    }

    window.showInfoToast = function (message, title = '') {
        toastr.info(message, title);
    }


    window.showWarningToast = function (message, title = '', options = {}) {
        toastr.warning(message, title, options);
    }

    window.showSuccessToast = function (message, title = '', options = {}) {
        toastr.success(message, title, options);
    }

    window.showErrorToast = function (message, title = '', options = {}) {
        toastr.error(message, title, options);
    }

    window.showInfoToast = function (message, title = '', options = {}) {
        toastr.info(message, title, options);
    }





    //############################################################ AJAX START ##########################################################################################
    window.Ajax = {
        jsonRequest: function (method, endpoint, data = null, headers = {}) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: window.STRINGS.API_BASE_URL + endpoint,
                    type: method,
                    data: data ? JSON.stringify(data) : null,
                    contentType: "application/json",
                    dataType: "json",
                    headers: headers,
                    xhrFields: {withCredentials: true}, // Ensure cookies (JWT, session) are sent
                    success: function (response) {
                        resolve(response);
                    },
                    error: function (xhr, status, error) {
                        console.error(`Error: ${status} - ${error}`, xhr);
                        reject(xhr.responseJSON || xhr.responseText || {message: "Unknown error"});
                    }
                });
            });
        },

        get: function (endpoint, params = {}, headers = {}) {
            let queryString = new URLSearchParams(params).toString();
            return this.jsonRequest("GET", endpoint + (queryString ? `?${queryString}` : ""), null, headers);
        },

        post: function (endpoint, data, headers = {}) {
            return this.jsonRequest("POST", endpoint, data, headers);
        },

        put: function (endpoint, data, headers = {}) {
            return this.jsonRequest("PUT", endpoint, data, headers);
        },

        delete: function (endpoint, headers = {}) {
            return this.jsonRequest("DELETE", endpoint, null, headers);
        }
    };
    //############################################################ AJAX START ##########################################################################################
</script>

<!-- jQuery -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!--<script defer>-->
<!--    $.widget.bridge('uibutton', $.ui.button)-->
<!--</script>-->
<!-- Bootstrap 4 -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/jqvmap/jquery.vmap.min.js"></script>
<script defer src="/webjars/AdminLTE/3.2.0/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/moment/moment.min.js"></script>
<script defer src="/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script defer src="/webjars/AdminLTE/3.2.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script defer src="/webjars/AdminLTE/3.2.0/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script defer src="/webjars/AdminLTE/3.2.0/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script defer src="/webjars/AdminLTE/3.2.0/dist/js/demo.js"></script>

</th:block>